<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*"
           Language="1033"
           Manufacturer="dt.compnerd.org"
           Name="ICU"
           UpgradeCode="c16b17e8-b3a3-4674-984e-deb1d1c3ed33"
           Version="64.1">
    <Package Comments="Copyright 2020 Saleem Abdulrasool &lt;compnerd@compnerd.org&gt;"
             Compressed="yes"
             Description="ICU"
             InstallScope="perMachine"
             Manufacturer="dt.compnerd.org" />
    <!--
         NOTE(compnerd) use the pre-3.8 schema for better compatibility.  If we
         are guaranteed WIX 3.8+ we could write this as:

         <MediaTemplate EmbedCab="yes" />
    -->
    <Media Id="1" Cabinet="icu.cab" EmbedCab="yes" />

    <!-- Directory Structure -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="WINDOWSVOLUME">
        <Directory Id="LIBRARY" Name="Library">
          <Directory Id="ICU" Name="icu-64">
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <SetDirectory Id="WINDOWSVOLUME" Value="[WindowsVolume]" />

    <!-- Components -->
    <DirectoryRef Id="ICU">
      <Merge Id="icu-msm" Language="1033" DiskId="1" SourceFile="$(var.windows-icu-msm.TargetPath)" />
    </DirectoryRef>

    <!-- Features -->
    <Feature Id="RUNTIME" Level="1">
      <MergeRef Id="icu-msm" />
    </Feature>

    <!-- UI -->
    <UI />
  </Product>
</Wix>
